* {
    border: none;
    font-family: Noto Sans;
    font-size: 14px;
    color: #cdd6f4;
    border-radius: 10px;
}

window#waybar {
    background: transparent;
    margin: 0px 4px;
}

/* TODO: Add alerting CSS */

.modules-center {
    margin-right: 8px;
    margin-left: 8px;
    background: rgba(24, 24, 36, 1.0);
}

tooltip {
    background: rgba(30, 30, 46, 1.0);
    margin: 10px;
    /* TODO: Fix the shadow clipping */
    box-shadow: 5px 10px 8px #11111b;
    border: 1px solid transparent;
}

/* Workspaces */
#workspaces button {
    all: initial;
    padding: 0 6px;
    margin: 0 1.5px;
    min-width: 9px;
}

#workspaces label {
    font-weight: normal;
}

#workspaces button.empty {
    opacity: 0.5;
}

/* Everything else */
#clock {
    font-weight: bold;
    margin: 0px 10px;
    font-family: Symbols Nerd Font;
}

#custom-playerctl,
#workspaces {
    background: rgba(24, 24, 36, 1.0);
    margin: 0px 6px;
    padding: 0px 10px;
    border-radius: 10px;
}

#power {
    background: rgba(24, 24, 36, 1.0);
    /* margin: 0px 6px; */
    font-size: 18px;
    font-family: Symbols Nerd Font;
    /* padding: 0px 10px; */
    border-radius: 10px;
}

#cpu,
#network,
#battery,
#bluetooth,
#pulseaudio,
#tray {
    background: rgba(24, 24, 36, 1.0);
    margin: 0px 6px;
    font-size: 18px;
    font-family: Symbols Nerd Font;
    padding: 0px 10px;
    border-radius: 10px;
}
